{% extends "layout.html" %}

{% block title %}
    Catalog Wardrobe
{% endblock %}

{% block main %}
    <div>
        <h1>Catalog Wardrobe</h1>
    </div>
    {% if message != '' %}
    <div class="outline">
        <h5 class="notice">{{ message }}</h5>
    </div>
    {% endif %}
    <div class="outline">
        <a href="/addcloth" class="button button-orange">Add Wardrobe</a>
    </div>
    <div class="outline">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <!-- image -->
                    </th>
                    <th>
                        wardrobe name
                    </th>
                    <th>
                        warm score
                    </th>
                    <th>
                        <!-- edit -->
                    </th>
                    <th>
                        <!-- delete -->
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for cloth in clothes %}
                <tr>
                    <td>
                        <p><img src="{{cloth.img_url}}" alt="{{cloth.name}}" class="wardrobes-list"/></p>
                    </td>
                    <td>
                        {{ cloth.name }}
                    </td>
                    <td>
                        {{ cloth.warmscore }}
                    </td>
                    <td>
                        <form action="/editcloth" method="post" class="">
                            <input type="hidden" name="wardrobeid" value="{{cloth.id}}">
                            <input type="submit" class="button button-green" value="Edit">
                        </form>
                    </td>
                    <td>
                        <form action="/deletecloth" method="post" class="">
                            <input type="hidden" name="wardrobeid" value="{{cloth.id}}">
                            <input type="submit" class="button button-gray" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
