{% extends "layout.html" %}

{% block title %}
    Delete
{% endblock %}

{% block main %}
    <div>
        <h1>Deleting</h1>
    </div>
    <div class="outline">
        <h5>{{ message }}</h5>
    </div>
    <div class="outline">
        <p><img src="{{wardrobe_img_url}}" alt="{{wardrobe_name}}" class="wardrobes-page"/></p>
        <p>{{ wardrobe_name }}</p>
        <p>category: {{ wardrobe_category }}</p>
    </div>
    <div class="outline">
        <form action="/deletedcloth" method="post">
            <input type="submit" class="button button-orange" value="OK">
        </form>
    </div>
    <div class="outline">
        <a href="/catalogcloth" class="button button-gray">Cancel</a>
    </div>

{% endblock %}
