{% extends "layout.html" %}

{% block title %}
    Editing
{% endblock %}

{% block main %}
    <div>
        <h1>Editing</h1>
    <div class="outline">
        <h5>{{ message }}</h5>
    </div>
    <div class="outline">
        <form action="/editedcloth" method="post">
            <div>
                <p><img src="{{info.wardrobe_img_url}}" alt="{{info.name}}" class="wardrobes-page"/></p>
                <p>Name: {{ info.wardrobe_name }}</p>
                <p>Category: {{ info.wardrobe_category }}</p>
                <p>Sleeve: {{ info.wardrobe_sleeve }}</p>
                <p>Color: {{ info.wardrobe_color }}</p>
                <p>Warmth: {{ info.wardrobe_warmscore }}</p>
                <p>How often wearing in a week: {{ info.wardrobe_freq_inweek }}</p>
            </div>
            <div>
                <input type="submit" class="button button-green" value="OK">
            </div>
        </form>
    </div>
    <div class="outline">
        <a href="/editcloth" class="button button-gray">Cancel</a>
    </div>

{% endblock %}
