{% extends "layout.html" %}

{% block title %}
    Edit Wardrobe
{% endblock %}

{% block main %}
    <h1>Edit Wardrobe</h1>
    <div class="outline">
        <p><img src="{{info.wardrobe_img_url}}" alt="{{info.wardrobe_name}}" class="wardrobes-page"/></p>
    </div>
    <div class="outline">
        <form action="/editingcloth" class="" method="post" enctype="multipart/form-data" name="clothform">

            <div class="form-group">
                <label class="" for="wardrobename">Wardrobe-name</label>
                <input autocomplete="off" autofocus id="wardrobename" class="form-control" name="wardrobename" placeholder="Wardrobe name" type="text" value="{{info.wardrobe_name}}" required>
                <div class="invalid-feedback">
                    Please provide wardrobe-name.
                </div>
            </div>

            <div class="form-group">
                <label class="" for="wardrobecategory">Wardrobe-category</label>
                <select autofocus id="wardrobecategory" class="form-control" name="category" value="" required>
                    {% for key, values in categories.items() %}
                        <option disabled>{{ key }}</option>
                            {% for category in values %}
                            {% if category == info.wardrobe_category %}
                                <option selected>{{ category }}</option>
                            {% else %}
                                <option>{{ category }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select wardrobe-category.
                </div>
            </div>

            <div class="form-group">
                <label class="" for="wardrobesleeve">Wardrobe-sleeve</label>
                <select autofocus id="wardrobesleeve" class="form-control" name="sleeve" required>
                    {% for sleeve in sleeves %}
                        {% if sleeve == info.wardrobe_sleeve %}
                            <option selected>{{ sleeve }}</option>
                        {% else %}
                            <option>{{ sleeve }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select sleeve-length.
                </div>
            </div>

            <div class="form-group">
                <label class="" for="wardrobecolor">Wardrobe-color</label>
                <select autofocus id="wardrobecolor" class="form-control" name="color" required>
                    {% for color in colors %}
                        {% if color == info.wardrobe_color %}
                            <option selected>{{ color }}</option>
                        {% else %}
                            <option>{{ color }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select wardrobe-color.
                </div>
            </div>
            <div class="form-group">
                <!-- 9段階のスライダーで入力したい(暖かさ=warmscore) -->
                <label for="warmscore">How warm is the wardrobe? (cold < normal < warm)</label>
                <input type="range" class="custom-range range-green" min="1" max="9" step="1" value="{{info.wardrobe_warmscore}}" id="warmscore" name="warmscore">
                <output for="warmscore" class="output_w"></output>
            </div>
            <div class="form-group">
                <!-- 7段階のスライダーで入力したい(1週間で着る頻度=freq_inweek) -->
                <label for="freq_inweek">Wearing-frequency in a week? (1 ~ 7)</label>
                <input type="range" class="custom-range range-green" min="1" max="7" step="1" value="{{info.wardrobe_freq_inweek}}" id="freq_inweek" name="freq_inweek">
                <!-- 出てこない start -->
                <!--<input type="range" class="custom-range" min="1" max="7" step="1" value="1" list="freq_inweek" name="freq_inweek">-->
                <!--<datalist id="freq_inweek">-->
                <!--    <option value="1" label="Once"></option>-->
                <!--    <option value="2"></option>-->
                <!--    <option value="3"></option>-->
                <!--    <option value="4"></option>-->
                <!--    <option value="5"></option>-->
                <!--    <option value="6"></option>-->
                <!--    <option value="7" label="EveryDay"></option>-->
                <!--</datalist>-->
                <!-- 出てこない end -->
                <output for="freq_inweek" class="output_f"></output>
            </div>
            <div id="file-group" class="form-group">
                <input type="file" id="image" name="image" accept="image/jpeg">
                <label for="image" id="file-label"></label>
            </div>
            <div id="form-alert" class="form-group">
                <span class="alert"></span>
            </div>
            <button class="button button-green" id="button-submit" type="submit">Edit Wardrobe</button>
        </form>
    </div>
    <div class="outline">
        <a href="/catalogcloth" class="button button-gray">Cancel</a>
    </div>
{% endblock %}