{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="">
        <h1>{{ username }}, welcome.</h1>
    </div>
    {% if message != '' %}
    <div class="outline">
        <h5 class="notice">{{ message }}</h5>
    </div>
    {% endif %}
    <div class="outline">
        <h5 class="message">Today's Weather in {{ location }}</h5>
        <div class="wrapper">
            <div class="column">
                <div class="temperature">
                    <p><img src="{{img_url_w}}" class="weather-page"></p>
                    <h6>{{ weather }}</h6>
                </div>
            </div>
            <div class="column">
                <div class="temperature">
                    <br>
                    <h6 class="body-brand"><span class="red">MAX</span>：{{ t_max }}</h6>
                    <h6 class="body-brand"><span class="blue">MIN</span>：{{ t_min }}</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="outline">
        <h5 class="message">{{ today_message }}</h5>
        <!-- ↓今日のコーディネート↓ -->
        <div class="wrapper">
            <div class="column">
                <p><img src="../static/material/Stickperson_m1.png" alt="" class="manekin1"></p>
            </div>
            <div class="column">
                <div class="wardrobes1">
                    <p><img src="{{img_urls.wardrobeid_c}}" alt="" class="wardrobes-page"/></p>
                    <p><img src="{{img_urls.wardrobeid_o}}" alt="" class="wardrobes-page"/></p>
                    <p><img src="{{img_urls.wardrobeid_t}}" alt="" class="wardrobes-page"/></p>
                    <p><img src="{{img_urls.wardrobeid_i}}" alt="" class="wardrobes-page"/></p>
                    <p><img src="{{img_urls.wardrobeid_b}}" alt="" class="wardrobes-page"/></p>
                    <p><img src="{{img_urls.wardrobeid_s}}" alt="" class="wardrobes-page"/></p>
                </div>
            </div>
        </div>
        <!-- ↑今日のコーディネート↑ -->
    </div>
    <div class="outline">
        {% if have_selected == True %}
        <!-- ↓今日の快適さを入力↓ -->
        <h5 class="message">Is it comfortable, today?</h5>
        <form action="/recordcomfort" method="post" id="form">
            <div class="form-group">
                <!-- 9段階のスライダーで入力したい -->
                <input type="range" class="custom-range range-orange" min="1" max="9" step="1" value="5" id="comfort" name="comfort">
                <output for="comfort" class="output_c"></output>
                <button class="button button-orange" type="submit" id="">OK</button>
            </div>
        </form>
        <!-- ↑今日の快適さを入力↑ -->
        {% else %}
        <h5 class="message">Have you selected wardrobes today ?</h5>
        <form action="/recommend" method="get" id="form">
            <button class="button button-orange" type="submit">Select wardrobes</button>
        </form>
        {% endif %}
    </div>


{% endblock %}
