{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <h1>Log In</h1>
    <div class="outline">
        <form action="/login" method="post" class="outline">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="button button-orange" type="submit">Log In</button>
        </form>
    </div>
    <div class="outline">
        <a href="/register" id="ddddd" class="button button-green">Register</a>
    </div>
{% endblock %}
