{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div>
        <h1>Registering</h1>
    </div>
    <div class="outline">
        <form action="/registered" method="post" id="form">
            <div class="form-group" id="username">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" id="userid" required>
                <div class="invalid-feedback">
                    Please fill your username.
                </div>
            </div>
            <div class="form-group" id="location">
                <select autofocus class="form-control" name="location" required>
                    <option style="display: none;">--Select Location--</option>
                    <option disabled>--Select location--</option>
                    {% for location in locations %}
                        <option>{{ location }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    Please select your location.
                </div>
            </div>
            <div class="" id="gender">
                <div class="radioArea radioArea-green wrapper" required>
                    <input name="gender" type="radio" id="r1" value="male"><label for="r1">male</label>
                    <input name="gender" type="radio" id="r2" value="female"><label for="r2">female</label>
                </div>
                <div class="invalid-feedback">
                    Please select your gender.
                </div>
            </div>
            <div class="form-group" id="password">
                <input class="form-control" name="password" placeholder="Password" type="password" required>
                <div class="invalid-feedback">
                    Please fill your password.
                </div>
            </div>
            <div class="form-group" id="confirm">
                <input class="form-control" name="confirm" placeholder="Confirm_Password" type="password" required>
                <div class="invalid-feedback">
                    Please confirm your password.
                </div>
            </div>
            <button class="button button-green" type="submit" id="submitform">Register</button>
        </form>
    </div>
{% endblock %}